* {
    padding: 0;
}

.banner {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
}

.frame_start_txt {
    display: flex;
    flex-direction: column;
    align-items: center
}

@font-face {
	font-family: 'Futura PT Bold';
	src: url('../fonts/futura_pt_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futura_pt_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futura_pt_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futura_pt_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futura_pt_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futura_pt_bold.svg#futura_pt_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

/* .frame {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
} */

.frame_start-txt_1,
.frame_start-txt_2,
.frame_start-txt_3 {
    color: #2cb34a;
    font-family: "Futura PT Bold";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
}

.wrap p {
    width: 50%; 
    margin: 0 auto; 
    text-align: center;
}

.frame_start-list {
    display: flex;
    justify-content: space-evenly;
}

.frame_start-list li {
    text-decoration: none;
    color: #2cb34a;
    font-family: "Futura PT Bold";
    font-weight: bold;
    font-size: 14px;
}

.btn {
    width: 50%; 
    margin: 10px auto;
    text-align: center;
}

button {
    background-color: #e8383f;
    color: white;
    font-family: "Futura PT Bold";
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    width: 146px;
    height: 32px;
    border-radius: 8px;
}

.frame_start-txt_4 {
    color: #2cb34a;
    font-family: "Futura PT Bold";
    text-transform: uppercase;
    font-size: 16px;
    margin: auto;
}

.logo {
    width: 280px;
}

