* {
    padding: 0;
}

.banner {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
}

.frame_start_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 15px 0;
}

.frame_start-txt_1,
.frame_start-txt_2,
.frame_start-txt_3 {
    color: #2cb34a;
    font-family: "Tilt Warp";
    text-transform: uppercase;
    font-size: 23px;
}

.wrap p {
    width: 50%; 
    margin: 0 auto; 
    text-align: center;
}

.frame_start-list {
    display: flex;
    justify-content: space-evenly;
}

.frame_start-list li {
    text-decoration: none;
    color: #2cb34a;
    font-family: "Tilt Warp";
    font-size: 14px;
}

.btn {
    width: 50%; 
    margin: 10px auto;
    text-align: center;
}

button {
    background-color: #e8383f;
    color: white;
    font-family: "Tilt Warp";
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    width: 146px;
    height: 32px;
    border-radius: 8px;
    cursor: pointer;
}

.frame_start-txt_4 {
    color: #2cb34a;
    font-family: "Tilt Warp";
    text-transform: uppercase;
    font-size: 16px;
    margin: auto;
}

.logo {
    width: 280px;
}

